Choice of test depends on test statistic and data availability

What are you testing for? <br>
Mean <br>
Proportions <br>
Variances <br>
Frequencies

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats

In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\KXS26XY\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [1]:
!pip install scipy==1.6.1

Requirement already satisfied: scipy==1.6.1 in c:\users\kxs26xy\appdata\local\continuum\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\kxs26xy\appdata\local\continuum\anaconda3\lib\site-packages (from scipy==1.6.1) (1.19.4)

In [2]:
import scipy
scipy.__version__

'1.6.1'

Test for one mean- One sample situation- unknown std dev <br>
So cannot use the Z test <br>
Sample size < 30 <br>
We can use the T-test for this problem <br>
Null hypothesis: mu = 40 <br>
Alternate hypothesis: mu > 40

In [5]:
fastfood = pd.read_csv("C:\\Users\\KXS26XY\\OneDrive - The Home Depot\\Desktop\\Data Science and Business Analytics\\FastFood1.csv")
fastfood.head()

   Delivery  Time
0         1  39.4
1         2  39.5
2         3  39.7
3         4  40.7
4         5  40.4

In [6]:
from scipy.stats import ttest_1samp

# calculate the test statistic and p-value
test_stat, p_val = ttest_1samp(fastfood['Time'], popmean = 40, alternative = "greater")
print(test_stat, p_val)

5.133552640824082 1.4822680927543513e-05

In [7]:
import numpy as np
import scipy.stats as stats
daily_intake = np.array([5260,5070,3640,1180,1390,6515,6805,2015,4515,1230,1770])
stats.ttest_1samp(daily_intake, popmean= 7752)

Ttest_1sampResult(statistic=-6.398908019819394, pvalue=7.843455779613616e-05)

Test for equality of means- two independent populations- known std dev <br>
We can use the Z test <br>
Normality condition- sample size > 30 which is satisfied

In [8]:
rating = pd.read_csv("C:\\Users\\KXS26XY\\OneDrive - The Home Depot\\Desktop\\Data Science and Business Analytics\\rating.csv")
rating.head(5)

   channel1_rating  channel2_rating
0              3.5              3.3
1              3.7              3.3
2              3.0              2.9
3              3.8              3.7
4              3.3              4.0

In [9]:
print("mean of channel1_rating", rating['channel1_rating'].mean())
print("mean of channel2_rating", rating['channel2_rating'].mean())

mean of channel1_rating 3.522666666666665
mean of channel2_rating 3.2470000000000008

In [11]:
# Creating a user-defined fucntion for the Z test

def ztest_2samp(X1, X2, pop_sd1, pop_sd2, n1, n2):
    '''
    X1: first of the two independent samples (sample 1)
    X2: second of the two independent samples (sample 2)
    pop_sd1: std dev of the first population
    pop_sd2: std dev of the second population
    n1: size of sample 1
    n2: size of sample 2
    '''
    from numpy import sqrt, abs
    from scipy.stats import norm
    
    # computing the std error
    se = sqrt(pop_sd1**2/n1 + pop_sd2**2/n2)
    # computing the test statistic
    test_stat = ((X1.mean() - X2.mean()) - 0)/ se
    pval = 1 - norm.cdf(abs(test_stat))
    return pval

In [12]:
p_value = ztest_2samp(rating['channel1_rating'].dropna(), rating['channel2_rating'].dropna(), 0.48, 0.49, 150, 300)
print(p_value)
# Reject the null hypothesis

5.87973714161194e-09

Test for equality of means- two populations- unknown std dev <br>
sample sizes are small <br>
In this example, the std devs of the two populations are assumed to be equal <br>
Will use the T test

In [13]:
tvradio = pd.read_csv('C:\\Users\\KXS26XY\\OneDrive - The Home Depot\\Desktop\\Data Science and Business Analytics\\TVRadio.csv')
tvradio.head(5)

   Cable_TV  FM_Radio
0        22        25
1         8        10
2        25        29
3        22        19
4        12        13

In [14]:
from scipy.stats import ttest_ind

test_statistic, p_val = ttest_ind(tvradio['Cable_TV'], tvradio['FM_Radio'], equal_var = True, alternative = 'two-sided')
p_val

0.5491435225558506

In [15]:
import scipy.stats as stats
import numpy as np
# energy expenditure in mJ and stature (0=obese, 1=lean)
energ = np.array([[9.21, 0],[7.53, 1],[7.48, 1],[8.08, 1],[8.09, 1],[10.15, 1],[8.40, 1],[0.88, 1],[1.13, 1],[2.90, 1],[11.51, 0],[2.79, 0],[7.05, 1],[1.85, 0],[19.97, 0],[7.48, 1],[8.79, 0],[9.69, 0],[2.68, 0],[3.58, 1],[9.19, 0],[4.11, 1]])
# Separating the data into 2 groups
group1 = energ[:, 1] == 0 # Extracting the elements of the array where obese == True
group1 = energ[group1][:, 0] # Extracting the energy expenditure of obese
group2 = energ[:, 1] == 1 # Extracting the elements of the array where lean == True
group2 = energ[group2][:, 0] # Extracting the energy expenditure of lean
stats.ttest_ind(group1, group2, equal_var = True) # Applying T-test to check if the energy expenditure of obese and lean is indeed different.

Ttest_indResult(statistic=1.353100293687127, pvalue=0.19112194470967464)

In [16]:
import scipy.stats as stats
import numpy as np

# scores of two groups (0 and 1) of students
energ = np.array([[49, 0],[53, 1],[56, 1],[43, 1],[45, 1],[53, 1],[45, 1],[56, 1],[51, 0],[43, 0],[47, 1],[44, 0],[51, 0],[53, 1],[50, 0],[54, 0],[51, 0],[51, 1],[46, 0],[47, 1]])

# Separating the data into 2 groups

group1 = energ[:, 1] == 0 # Extracting the elements of the array where group == 0
group1 = energ[group1][:, 0] # Extracting the scores of group 0 students
group2 = energ[:, 1] == 1 # Extracting the elements of the array where group == 1
group2 = energ[group2][:, 0] # Extracting the scores of group 1 students

#applying t-test to check if the scores of group 0 and group 1 students are indeed different
stats.ttest_ind(group1, group2, equal_var = False)

Ttest_indResult(statistic=-0.607694899652158, pvalue=0.5509860214402561)

In [33]:
import scipy.stats as stats
import numpy as np
intake = np.array([[5260, 2400],[7500, 5500],[5640, 3885],[6180, 3160],[6390, 5645],[6515, 8680],[6805, 9265],[7515, 5975],[7515, 2790],[8230, 1900],[8770, 1335]])
# Separating data into 2 groups

pre = intake[:, 1] # Extracting the pre intake values from array
post = intake[:, 0] # Extracting the post intake values from array

stats.ttest_rel(post, pre, alternative = 'greater') # Applying T-test to check if the post intake is greater than pre intake

TypeError: ttest_rel() got an unexpected keyword argument 'alternative'